<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同 -->
<mapper namespace="org.ld.mapper.UserDao">

    <!-- insert user -->
    <insert id= "insert" parameterType="org.ld.pojo.User">
        INSERT INTO user (USERNAME,PASSWORD) VALUES(#{username},#{password});
    </insert>

    <!-- login user -->
    <select id="login" parameterType="string" resultType="org.ld.pojo.User">
        SELECT * FROM user WHERE username =#{0} AND password =#{1} ORDER BY createdtime LIMIT 0,1
    </select>

    <!-- findByUsername user -->
    <select id="findByUsername" parameterType="string" resultType="org.ld.pojo.User">
        SELECT * FROM user WHERE username =#{0} ORDER BY createdtime LIMIT 0,1
    </select>

</mapper>